.dl_footer {
    height: 80px;
    &_copyright {
        font-size: 14px;
        line-height: 21px;
        max-width: 1200px;
        margin: 0px auto;
        padding: 19px 0;
        text-align: center;
        color: #b8b8b8;
        border-top: 1px solid #eee;
        margin-top: 30px;
        a {
            color: #b8b8b8;
            border-bottom: 1px solid #b8b8b8;
            word-wrap: break-word;
        }
    }
}
